@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@400;700&display=swap');

/* VERSION DESKTOP */

/* css général */

body {
    width: 80vw;
    margin: 0 auto;
    font-family: "Space Grotesk";
    color: rgba(255, 255, 255, .8);
}

h1,
nav,
button {
    font-family: "Rajdhani";
}

.header,
section,
.footer {
    width: 68.6vw;
    border-left: .28vw solid rgba(155, 155, 155, .2);
    border-right: .28vw solid rgba(155, 155, 155, .2);
    margin: 0 auto;
}

.button {
    text-align: center;
}

button {
    letter-spacing: .1vw;
    font-size: .95vw;
    color: rgba(255, 255, 255, .8);
    background: linear-gradient(315deg, rgba(137, 0, 8, .6), rgba(237, 222, 191, .4));
    border: none;
    margin: 0;
    padding: 1.25vw 0;
    width: 14vw;
    cursor: pointer;
    &:hover {
        background: linear-gradient(315deg, rgba(137, 0, 8), rgba(237, 222, 191));
    }
}

/* --header-- */

header,
.header {
    height: calc(80vw / 1.5982242);
    margin: 0 auto;
}

header {
    background-image: url(./Assets/illustrations/Bathome1.png);
    background-size: 100%;
    .header {
        nav {
            font-weight: bold;
            letter-spacing: .1vw;
            font-size: 1.5vw;
            height: 11.4vw;
            border-bottom: .28vw solid rgba(155, 155, 155, .2);
            display: flex;
            align-items: start;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 3.3vw 5vw;
            img {
                margin: 0;
                height: 2.2702vw;
            }
            a {
                display: block;
                color: white;
            }
        }
        .intro {
            color: rgba(255, 255, 255, .8);
            text-align: center;
            font-size: 1.23vw;
            padding-top: 11.2vw;
        }
        .heading {
            color: white;
            text-align: center;
            font-size: 1.55vw;
            font-weight: bold;
            padding-top: 1vw;
        }
        .button {
            button {
                margin: 2.5vw 1vw;
            }
        }
        .social {
            display: inline-block;
            position: fixed;
            top: 19.3vw;
            right: 12.20vw;
            img {
                display: block;
                margin: 1.8vw auto;
            }
            .logo {
                width: 5.6vw;
                height: 3.23vw;
            }
            .icon {
                width: 1.3vw;
                height: 1.3vw;
            }
        }
    }
}

/* --main-- */

main {
    background-color: #000000;
}

h1 {
    color: white;
    font-size: 1.8vw;
    letter-spacing: .1vw;
    margin: 0;
    padding-left: 4.5vw;
    padding-top: 5vw;
    padding-bottom: 1.4939vw;
}

/* section batman au cinéma */

section {
    &.batmanAuCinema {
        .flecheDown {
            display: block;
            margin: auto;
            width: 4vw;
        }
        >p {
            width: 55vw;
            font-size: 1.23vw;
            color: rgba(255, 255, 255, .8);
            padding-left: 4.5vw;
            margin-bottom: 5vw;
            text-align: justify;
        }
        .images {
            display: flex;
            justify-content: space-evenly;
            .description {
                width: 17vw;
                font-family: "Rajdhani";
                img {
                    display: block;
                    width: 100%;
                }
                >p {
                    color: rgba(255, 255, 255, .9);
                    text-align: center;
                    font-size: 1.15vw;
                    font-weight: 500;
                    margin: 1.2vw 0;
                }
                &:hover {
                    scale: 1.1;
                }
            }
        }
    }
}

/* section némésis */

section {
    &.nemesis {
        position: relative;
        h1 {
            padding-top: 6.7vw;
        }
        .bathome13 {
            width: 8vw;
            position: absolute;
            top: 2.5vw;
            left: 9.5vw;
        }
        >p {
            width: 55vw;
            font-size: 1.23vw;
            color: rgba(255, 255, 255, .8);
            padding-left: 4.5vw;
            margin-bottom: 5vw;
            text-align: justify;
        }
        .images {
            display: flex;
            justify-content: space-evenly;
            .description {
                width: 17vw;
                font-family: "Rajdhani";
                img {
                    display: block;
                    width: 100%;
                }
                >p {
                    color: rgba(255, 255, 255, .9);
                    text-align: center;
                    font-size: 1.15vw;
                    font-weight: 500;
                    margin: 1.2vw 0;
                }
                &:hover {
                    scale: 1.1;
                }
            }
        }
        .bathome12 {
            width: 22.5vw;
            position: absolute;
            top: 49.7vw;
            right: -5.7vw;
        }
    }
}

/* section alliés */

section {
    &.allies {
        >p {
            width: 55vw;
            font-size: 1.23vw;
            color: rgba(255, 255, 255, .8);
            padding-left: 4.5vw;
            margin-bottom: 5vw;
            text-align: justify;
        }
        .images {
            display: flex;
            justify-content: space-evenly;
            .description {
                width: 17vw;
                font-family: "Rajdhani";
                img {
                    display: block;
                    width: 100%;
                }
                >p {
                    color: rgba(255, 255, 255, .9);
                    text-align: center;
                    font-size: 1.15vw;
                    font-weight: 500;
                    margin: 1.2vw 0;
                }
                &:hover {
                    scale: 1.1;
                }
            }
        }
    }
}

/* section justice league */

section {
    .justice {
        width: 53vw;
        margin: auto;
        padding-bottom: 4.75vw;
        h1 {
            padding-left: 0;
            padding-top: 6.6vw;
            padding-bottom: 1.7vw;
        }
        p {
            font-size: 1.23vw;
            color: rgba(255, 255, 255, .8);
            margin: 0;
            text-align: justify;
        }
    }
}

/* class justiceImage */

main {
    >img.justiceImage {
        display: block;
        width: 100%;
    }
}

/* section multimédia */

.multimedia {
    .media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 4.5vw;
        .fleche {
            img {
                width: 2.3vw;
            }
        }
        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(315deg, rgba(25, 88, 125, .4)16%, rgb(237, 222, 191, .4)96%);
            border-top-right-radius: .5vw;
            border-bottom-right-radius: .5vw;
            color: rgba(255, 255, 255, .6);
            .card-image {
                display: block;
                width: 8.5vw;
            }
            .card-text {
                height: 100%;
                padding: 0 .8vw;
                .p1 {
                    font-size: .65vw;
                    letter-spacing: .1vw;
                }
                .p2 {
                    font-size: 1vw;
                    font-family: "Rajdhani";
                    margin: 0;
                }
                .p3 {
                    font-size: .7vw;
                    span {
                        color: rgb(243, 243, 80);
                    }
                }
                .text {
                    font-size: .65vw;
                }
            }
        }
    }
    .bandeAnnonce {
        padding: 4.5vw 4.5vw 9vw 4.5vw;
        img {
            width: 100%;
        }
    }
}

/* class contact */

.contact {
    background-image: linear-gradient(315deg, rgba(25, 88, 125, .4)16%, rgb(237, 222, 191, .4)96%);
    h1 {
        margin: 0;
        padding: 3vw;
        text-align: center;
        font-size: 1.7vw;
    }
    form {
        width: 50%;
        margin: auto;
        .label-email {
            label {
                font-size: 1.2vw;
            }
        }
        .email {
            input {
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: .1vw solid gray;
                margin-top: 1.5vw;
                margin-bottom: 2.6vw;
                font-family: inherit;
                font-size: .85vw;
                letter-spacing: .02vw;
                word-spacing: .04vw;
                font-weight: lighter;
                color: gray;
            }
        }
        .label-checkbox {
            margin-bottom: 1.5vw;
            label {
                font-size: 1.2vw;
            }
        }
        .checkbox {
            p {
                font-size: .85vw;
                letter-spacing: .02vw;
                word-spacing: .04vw;
                font-weight: lighter;
                color: gray;
            }
            >p {
                margin-bottom: 0;
            }
            .pa {
                display: flex;
                align-items: center;
                input {
                    width: 1.2vw;
                    height: 1.2vw;
                    display: block;
                    margin-left: .6vw;
                    color: blue;
                }
            }
        }
        .frequence {
            select {
                width: 100%;
                margin-top: 0.6vw;
                background-color: transparent;
                border: none;
                border-bottom: .1vw solid gray;
                font-family: "Space Grotesk";
                font-size: .85vw;
                letter-spacing: .02vw;
                word-spacing: .04vw;
                font-weight: lighter;
                color: gray;
            }
        }
        .input-type-button {
            .input-disabled {
                input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: .1vw solid rgba(211, 207, 207, .8);
                    margin-top: 1.5vw;
                    font-family: "Space Grotesk";
                    font-size: .85vw;
                    letter-spacing: .02vw;
                    word-spacing: .04vw;
                    font-weight: lighter;
                    color: rgba(211, 207, 207, .8);
                }
            }
            .input-button {
                text-align: center;
                input {
                    background-color: transparent;
                    border: none;
                    padding: .5vw 1.5vw;
                    margin: 1.5vw .85vw;
                    font-family: "Space Grotesk";
                    font-size: .65vw;
                    letter-spacing: .01vw;
                    color: white;
                }
                .gradient {
                    border-style: solid;
                    border-width: .1vw;
                    border-image: linear-gradient(135deg, rgb(163, 152, 147), rgb(35, 129, 141)) 1;
                }
            }
        }
        .message {
            .message-label {
                label {
                    font-size: 1.2vw;
                }
            }
            .message-input {
                input {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-bottom: .1vw solid gray;
                    margin-top: 1.5vw;
                    margin-bottom: 2.6vw;
                    font-family: inherit;
                    font-size: .85vw;
                    letter-spacing: .02vw;
                    word-spacing: .04vw;
                    font-weight: lighter;
                    color: gray;
                }
            }
        }
        .confirmer {
            padding-bottom: 3vw;
        }
    }
}

/* --footer-- */

footer {
    background-color: #000000;
}

/* section footer */

.footer {
    .a {
        padding: 9.5vw;
        .b {
            img {
                width: 5.5vw;
            }
        }
        .replique {
            text-align: center;
            .c {
                font-size: .9vw;
                letter-spacing: .03vw;
                line-height: .5vw;
            }
            .d {
                font-size: .7vw;
                letter-spacing: .03vw;
                line-height: .5vw;
                color: rgb(175, 170, 170);
                padding-top: .3vw;
            }
            .e {
                font-size: .7vw;
                letter-spacing: .03vw;
                line-height: .5vw;
                color: rgb(61, 86, 197);
                padding-top: .3vw;
            }
        }
        .f {
            float: right;
            position: relative;
            top: -3vw;
            img {
                width: 5.5vw;
            }
        }
    }
    .g {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2.6vw;
        padding-bottom: 1.4vw;
        img {
            width: 1.5vw;
            display: block;
        }
        p {
            font-size: .6vw;
            padding-left: .6vw;
        }
    }
    .h {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 8vw;
        img {
            display: block;
        }
        .sayna {
            width: 2.3vw;
        }
        .x {
            width: 1vw;
            padding-left: .7vw;
        }
        .dc {
            width: 2.8vw;
            padding-left: .9vw;
        }
        .fb,
        .ig,
        .tw {
            width: 1.3vw;
            padding-left: 2vw;
        }
    }
}