@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@400;700&display=swap");
/* VERSION DESKTOP */
/* css général */
body {
  width: 80vw;
  margin: 0 auto;
  font-family: "Space Grotesk";
  color: rgba(255, 255, 255, 0.8);
}

h1,
nav,
button {
  font-family: "Rajdhani";
}

.header,
section,
.footer {
  width: 68.6vw;
  border-left: 0.28vw solid rgba(155, 155, 155, 0.2);
  border-right: 0.28vw solid rgba(155, 155, 155, 0.2);
  margin: 0 auto;
}

/* --header-- */
header {
  height: 50.0555554096vw;
  margin: 0 auto;
  background-image: url(./Assets/illustrations/Bathome1.png);
  background-size: 100%;
}
header .header {
  height: 50.0555554096vw;
}
header .header nav {
  font-weight: bold;
  letter-spacing: 0.1vw;
  font-size: 1.5vw;
  height: 11.4vw;
  border-bottom: 0.28vw solid rgba(155, 155, 155, 0.2);
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 3.3vw 5vw;
}
header .header nav img {
  margin: 0;
  height: 2.2702vw;
}
header .header nav a {
  display: block;
  color: white;
}
header .header .intro {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.23vw;
  padding-top: 11.2vw;
}
header .header .heading {
  color: white;
  text-align: center;
  font-size: 1.55vw;
  font-weight: bold;
  padding-top: 1vw;
}
header .header .button {
  text-align: center;
}
header .header .button button {
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(315deg, rgba(137, 0, 8, 0.6), rgba(237, 222, 191, 0.4));
  border: none;
  margin: 2.5vw 1vw;
  padding: 1.25vw 0;
  width: 14vw;
  cursor: pointer;
}
header .header .button button:hover {
  background: linear-gradient(315deg, rgb(137, 0, 8), rgb(237, 222, 191));
}
header .header .social {
  display: inline-block;
  position: fixed;
  top: 19.3vw;
  right: 12.2vw;
}
header .header .social img {
  display: block;
  margin: 1.8vw auto;
}
header .header .social .logo {
  width: 5.6vw;
  height: 3.23vw;
}
header .header .social .icon {
  width: 1.3vw;
  height: 1.3vw;
}

/* --main-- */
main {
  background-color: #000000;
}

/* section batman au cinéma */
section.batmanAuCinema .flecheDown {
  display: block;
  margin: auto;
  width: 4vw;
}
section.batmanAuCinema h1 {
  color: white;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  margin: 0;
  padding-left: 4.5vw;
  padding-top: 5vw;
  padding-bottom: 1.4939vw;
}
section.batmanAuCinema > p {
  width: 55vw;
  font-size: 1.23vw;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 4.5vw;
  margin-bottom: 5vw;
  text-align: justify;
}
section.batmanAuCinema .images {
  display: flex;
  justify-content: space-evenly;
}
section.batmanAuCinema .images .description {
  width: 17vw;
  font-family: "Rajdhani";
}
section.batmanAuCinema .images .description img {
  display: block;
  width: 100%;
}
section.batmanAuCinema .images .description > p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 1.15vw;
  font-weight: 500;
  margin: 1.2vw 0;
}
section.batmanAuCinema .images .description:hover {
  scale: 1.1;
}

/* section némésis */
section.nemesis {
  position: relative;
}
section.nemesis h1 {
  color: white;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  margin: 0;
  padding-left: 4.5vw;
  padding-top: 6.7vw;
  padding-bottom: 1.4939vw;
}
section.nemesis .bathome13 {
  width: 8vw;
  position: absolute;
  top: 2.5vw;
  left: 9.5vw;
}
section.nemesis > p {
  width: 55vw;
  font-size: 1.23vw;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 4.5vw;
  margin-bottom: 5vw;
  text-align: justify;
}
section.nemesis .images {
  display: flex;
  justify-content: space-evenly;
}
section.nemesis .images .description {
  width: 17vw;
  font-family: "Rajdhani";
}
section.nemesis .images .description img {
  display: block;
  width: 100%;
}
section.nemesis .images .description > p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 1.15vw;
  font-weight: 500;
  margin: 1.2vw 0;
}
section.nemesis .images .description:hover {
  scale: 1.1;
}
section.nemesis .bathome12 {
  width: 22.5vw;
  position: absolute;
  top: 49.7vw;
  right: -5.7vw;
}

/* section alliés */
section.allies h1 {
  color: white;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  margin: 0;
  padding-left: 4.5vw;
  padding-top: 5vw;
  padding-bottom: 1.4939vw;
}
section.allies > p {
  width: 55vw;
  font-size: 1.23vw;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 4.5vw;
  margin-bottom: 5vw;
  text-align: justify;
}
section.allies .images {
  display: flex;
  justify-content: space-evenly;
}
section.allies .images .description {
  width: 17vw;
  font-family: "Rajdhani";
}
section.allies .images .description img {
  display: block;
  width: 100%;
}
section.allies .images .description > p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 1.15vw;
  font-weight: 500;
  margin: 1.2vw 0;
}
section.allies .images .description:hover {
  scale: 1.1;
}

/* section justice league */
section .justice {
  width: 53vw;
  margin: auto;
  padding-bottom: 4.75vw;
}
section .justice h1 {
  color: white;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  margin: 0;
  padding-left: 0;
  padding-top: 6.6vw;
  padding-bottom: 1.7vw;
}
section .justice p {
  font-size: 1.23vw;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  text-align: justify;
}

/* class justiceImage */
main > img.justiceImage {
  display: block;
  width: 100%;
}

/* section multimédia */
.multimedia h1 {
  color: white;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  margin: 0;
  padding-left: 4.5vw;
  padding-top: 5vw;
  padding-bottom: 1.4939vw;
}
.multimedia .media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 4.5vw;
}
.multimedia .media .fleche img {
  width: 2.3vw;
}
.multimedia .media .card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(315deg, rgba(25, 88, 125, 0.4) 16%, rgba(237, 222, 191, 0.4) 96%);
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  color: rgba(255, 255, 255, 0.6);
}
.multimedia .media .card .card-image {
  display: block;
  width: 8.5vw;
}
.multimedia .media .card .card-text {
  height: 100%;
  padding: 0 0.8vw;
}
.multimedia .media .card .card-text .p1 {
  font-size: 0.65vw;
  letter-spacing: 0.1vw;
}
.multimedia .media .card .card-text .p2 {
  font-size: 1vw;
  font-family: "Rajdhani";
  margin: 0;
}
.multimedia .media .card .card-text .p3 {
  font-size: 0.7vw;
}
.multimedia .media .card .card-text .p3 span {
  color: rgb(243, 243, 80);
}
.multimedia .media .card .card-text .text {
  font-size: 0.65vw;
}
.multimedia .bandeAnnonce {
  padding: 4.5vw 4.5vw 9vw 4.5vw;
}
.multimedia .bandeAnnonce img {
  width: 100%;
}

/* class contact */
.contact {
  background-image: linear-gradient(315deg, rgba(25, 88, 125, 0.4) 16%, rgba(237, 222, 191, 0.4) 96%);
}
.contact h1 {
  margin: 0;
  padding: 3vw;
  text-align: center;
  font-size: 1.7vw;
}
.contact form {
  width: 50%;
  margin: auto;
}
.contact form .label-email label {
  font-size: 1.2vw;
}
.contact form .email input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.1vw solid gray;
  margin-top: 1.5vw;
  margin-bottom: 2.6vw;
  font-family: inherit;
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: gray;
}
.contact form .label-checkbox {
  margin-bottom: 1.5vw;
}
.contact form .label-checkbox label {
  font-size: 1.2vw;
}
.contact form .checkbox p {
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: gray;
}
.contact form .checkbox > p {
  margin-bottom: 0;
}
.contact form .checkbox .pa {
  display: flex;
  align-items: center;
}
.contact form .checkbox .pa input {
  width: 1.2vw;
  height: 1.2vw;
  display: block;
  margin-left: 0.6vw;
  color: blue;
}
.contact form .frequence select {
  width: 100%;
  margin-top: 0.6vw;
  background-color: transparent;
  border: none;
  border-bottom: 0.1vw solid gray;
  font-family: "Space Grotesk";
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: gray;
}
.contact form .input-type-button .input-disabled input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.1vw solid rgba(211, 207, 207, 0.8);
  margin-top: 1.5vw;
  font-family: "Space Grotesk";
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: rgba(211, 207, 207, 0.8);
}
.contact form .input-type-button .input-button {
  text-align: center;
}
.contact form .input-type-button .input-button input {
  background-color: transparent;
  border: none;
  padding: 0.5vw 1.5vw;
  margin: 1.5vw 0.85vw;
  font-family: "Space Grotesk";
  font-size: 0.65vw;
  letter-spacing: 0.01vw;
  color: white;
}
.contact form .input-type-button .input-button .gradient {
  border-style: solid;
  border-width: 0.1vw;
  border-image: linear-gradient(135deg, rgb(163, 152, 147), rgb(35, 129, 141)) 1;
}
.contact form .message .message-label label {
  font-size: 1.2vw;
}
.contact form .message .message-input input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.1vw solid gray;
  margin-top: 1.5vw;
  margin-bottom: 2.6vw;
  font-family: inherit;
  font-size: 0.85vw;
  letter-spacing: 0.02vw;
  word-spacing: 0.04vw;
  font-weight: lighter;
  color: gray;
}
.contact form .confirmer {
  padding-bottom: 3vw;
}
.contact form .confirmer .button {
  text-align: center;
}
.contact form .confirmer .button button {
  letter-spacing: 0.1vw;
  font-size: 0.95vw;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(315deg, rgba(137, 0, 8, 0.6), rgba(237, 222, 191, 0.4));
  border: none;
  padding: 1.25vw 0;
  width: 14vw;
  cursor: pointer;
  margin: 0;
}
.contact form .confirmer .button button:hover {
  background: linear-gradient(315deg, rgb(137, 0, 8), rgb(237, 222, 191));
}

/* --footer-- */
footer {
  background-color: #000000;
}

/* section footer */
.footer .a {
  padding: 9.5vw;
}
.footer .a .b img {
  width: 5.5vw;
}
.footer .a .replique {
  text-align: center;
}
.footer .a .replique .c {
  font-size: 0.9vw;
  letter-spacing: 0.03vw;
  line-height: 0.5vw;
}
.footer .a .replique .d {
  font-size: 0.7vw;
  letter-spacing: 0.03vw;
  line-height: 0.5vw;
  color: rgb(175, 170, 170);
  padding-top: 0.3vw;
}
.footer .a .replique .e {
  font-size: 0.7vw;
  letter-spacing: 0.03vw;
  line-height: 0.5vw;
  color: rgb(61, 86, 197);
  padding-top: 0.3vw;
}
.footer .a .f {
  float: right;
  position: relative;
  top: -3vw;
}
.footer .a .f img {
  width: 5.5vw;
}
.footer .g {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.6vw;
  padding-bottom: 1.4vw;
}
.footer .g img {
  width: 1.5vw;
  display: block;
}
.footer .g p {
  font-size: 0.6vw;
  padding-left: 0.6vw;
}
.footer .h {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8vw;
}
.footer .h img {
  display: block;
}
.footer .h .sayna {
  width: 2.3vw;
}
.footer .h .x {
  width: 1vw;
  padding-left: 0.7vw;
}
.footer .h .dc {
  width: 2.8vw;
  padding-left: 0.9vw;
}
.footer .h .fb,
.footer .h .ig,
.footer .h .tw {
  width: 1.3vw;
  padding-left: 2vw;
}

/*# sourceMappingURL=style.css.map */
